@import "tailwindcss";
@import 'notie/dist/notie.min.css';

/* body {
    padding-bottom: 32px;
} */

@layer base {
  /* Light mode default */
  body {
    @apply bg-gray-50 text-gray-900;
  }

  .dark body {
    @apply bg-gray-900 text-gray-100;
  }
}

/* #Home {
    padding-bottom: 0 !important;
} */

/* .transform-style-3d {
  transform-style: preserve-3d;
}
.perspective {
  perspective: 1000px;
} */

/* For Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animated-gradient-bar {
  background: linear-gradient(270deg, var(--primary-color-light), var(--primary-color), var(--primary-color-dark));
  background-size: 600% 600%;
  animation: gradientAnimation 5s ease infinite;
}

@keyframes shine {
  0% { background-position: 200% center; }
  100% { background-position: -200% center; }
}

/* .dark {
  background-color: #333;
  color: #fff;
}

.dark .some-element {
  background-color: #555;
} */

:root {
  --primary-color: #005496; /* ค่าเริ่มต้น */
}

.bg-primary {
  background-color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color);
}