@import "tailwindcss";

body {
    padding-bottom: 32px;
}

/* #Home {
    padding-bottom: 0 !important;
} */

/* .transform-style-3d {
  transform-style: preserve-3d;
}
.perspective {
  perspective: 1000px;
} */
